.container {
    max-width: 721px;
    height: 100px;
    margin: 0 auto;

    h1, h2, h3, h4, h5, h6 {
        color: var(--heading);
        font-size: 1.75rem;
        line-height: 2.118rem;
      }
      
      p {
        color: var(--body);
        font-size: 1.125rem;
        line-height: 1.361rem;
      }
      
      span, time {
        color: var(--info);
        font-size: 0.875rem;
        display: flex;
        align-items: center;

        .icon {
          margin-right: 8px;
        }

        & + span {
            margin-left: 24px;
        }
      }
      
      button {
        cursor: pointer;
        color: var(--highlight);
        font-weight: 600;
        font-size: 1.125rem;
        background: transparent;
        border: none;
        margin-top: 20px;
        transition: filter .4s;

        &:hover{
          filter: brightness(.8);
        }
      }

      aside {
        background: var(--heading);
        padding: 15px;
        text-align: center;
        border-radius: 4px;

        font-weight: 600;
        font-size: 1.125rem;

        margin-top: 88px;

        transition: filter .4s;

        &:hover{
          filter: brightness(.8);
        }
      }
      
      a {
        color: inherit;
        text-decoration: none;
      }

}
