.post {

    .title {
        margin-bottom: 10px;
    }

    .subtitle {
        margin-bottom: 10px;
    }

    .icons_group {
        display: flex;
        align-content: center;
    }

    & + .post {
        margin: 48px 0;
    }
}